.login {
    height: 100vh;
    background-image: linear-gradient(#0000007e, #0000007e), url('../../assets/background_banner.jpg');
    padding: 20px 8%;
}
.login-logo {
    width: 180px;

}
.login-form {
    width: 100%;
    max-width: 450px;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 60px;
    margin: auto;

}
.login-form h1 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 14px;

}
.login-form input{
    width: 100%;
    height: 55px;
    background: rgba(0, 0, 0, 0.15);
    color: white;
    margin: 12px 0;
    border: solid color #333 4px;
    outline: none;
    border-radius: 4px;
    padding: 16px 20px;
    font-size: 16px;
    font-weight: 700;
    box-shadow: none;

}
.login-form input::placeholder {
    font-size: 16px;
    font-weight: 500;
}
.login-form  .btn-1 {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    padding: 16px;
    background: #e50914;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 12px;
    cursor: pointer;
}
.login-form  .btn-2 {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    padding: 16px;
    background: #b3b3b345;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 12px;
    cursor: pointer;
}
.or {
    text-align: center;
    margin-top: 12px;
    color: #b3b3b3;
}
.form-help {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #b3b3b3;
    font-size: 13px;
}
.remember {
    display: flex;
    align-items: center;
    gap: 5px;
}
.remember input {
    width: 18px;
    height: 18px;
}
.form-switch {
    margin-top: 40px;
    color: #737373;
}
.form-switch span {
    margin-left: 6px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}
.login-spinner {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-spinner img {
    width: 60px;
}
@media (max-width: 500px) {
    .login {
        padding: 15px 5%;
    }
    .login-form {
        padding: 20px;
        margin-top: 30px;
    }
    
}