.navbar {
    width: 100%;
    padding: 20px 6%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #e5e5e5;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.7) 10%, transparent);
    z-index: 1;
}
.navbar-left {
    display: flex;
    align-items: center;
    gap: 50px;
}
.navbar-left img {
    width: 130px;
}
.navbar-left ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
.navbar-left ul li {
    cursor: pointer;
}
.navbar-right {
    display: flex;
    gap: 20px;
    align-items: center;
}
.navbar-right .icons {
    font-size: 20px;
    cursor: pointer;
}
.navbar-right .profile {
    width: 35px;
    border-radius: 4px;
} 
.navbar-profile {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}
.navbar .dropdown {
    position: absolute;
    top: 100%;
    right: 0px;
    background: #191919;
    padding: 18px 22px;
    border-radius: 2px;
    text-decoration: underline;
    width: max-content;
    z-index: 1;
    display: none;
    margin-top: 5px;
}
.navbar .dropdown p {
   font-size: 13px;
   cursor: pointer;
}
.navbar-profile:hover .dropdown {
    display: block;
}
.nav-dark {
   background: #141414; 
}
@media(max-width: 800px) {
   .navbar {
    padding: 20px 4%;

   }
   .navbar-left ul {
    display: none;
   } 
   .navbar img {
    height: 25px;
   }
}
@media (max-width: 500px) {
    .navbar img {
        height: 20px;
    }
    .navbar-right {
        gap: 10px;
    }
}